.login-hero{
    background-image: var(--login-hero-image);
    background-size: cover;
    background-repeat: no-repeat;
}
@media (width<=80rem) {
    .login-container{
        background-image: var(--login-hero-mobile-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
    .login-container img{
        fill: white;
        color: white;
    }

}
